<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let item of data">
    <ion-card>
      <img src="{{ item.img }}"/>
      <ion-card-content>
        <ion-card-title>
          {{ item.name }}
          </ion-card-title>
        <p>
          {{ item.content }}
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
